

body{
margin: 0;
}

.nav {
margin: 0 auto;
width:1170px; 
background-color: white;
height: 147px;
margin-bottom: 20px;
}
.nav-logo {
background: url('../images/logo.png');
background-repeat: no-repeat;
color: transparent;
font: 0/0 a;
float: left;
height: 32px;
margin: 70px 0px 0 100px;
position: relative;
width: 26px;

}
.nav h4{
float:left;
font-size: 30px;
color: #2f314f;
font-family:'Rokkitt', serif;
margin: 71px 15px 0 20px;
position: relative;

}

.nav ul {
float:left;
margin: 82px 0px 0px 20px;
position: relative;
width: 500px;

}
.nav li{
margin: 18px;
display: inline

}
.nav a{
color: #202242;
text-decoration: none;
font-family:'Rokkitt', serif;
font-size: 17px
}

.nav a:hover{
color: yellow
}


#kontakt{
float: left;
margin: 40px 0 0 30px;
position: relative;
width: 259x;


}
.ko {
font-size: 13px;
font-family: 'Rokkitt', serif;
}

.ko1 {
padding-top:5px;
font-size: 26px;
font-family: 'Rokkitt', serif;
font-weight:semibold;
margin:0 ;
float:right;
border-left: 1px solid #3e3e3e;
padding-left:18px
}


#live  {
background-color: #ffe13e;
font-family: 'Rokkitt', serif;
padding: 8px 20px;
float: left
}
#live:hover{
background-color: #202242
}


.nrtel {
    Height: (wysokosc linii)px
    Line-height: (wysokosc linii)px
    Padding-left: 20px
    Border-left: 1px solid #ccc
}


.full-width { width: 100% }
#banner { background: url('../images/balon.jpg') no-repeat 50% 50%;
 background-size: cover; 
height: 794px
 
 }
.content { 
width: 1170px; 
margin: 0 auto }



.wtop {
padding-top:220px;
text-align: center;

}

h2{
font-size:40px;
font-family: 'Rokkitt', serif;
color: #ffffff;
}
.wtop p{
color: white;
font-size:25px;
font-family: 'Rokkitt', serif
}

.wtop img{
position: relative;
display: inline-block;
margin-top: 20px
}

.dom{
position:relative;
margin: 40px 290px;
width:547px;
height:54px;
background-color: #fff;
border: 15px solid rgba(255, 255, 255, .5);
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
}

#dom{
padding-top:0px;
text-align:center;
width:275px;
height:54px;
border: 0;
outline: none;
font-size:18px
}

.dom select {
font-size:18px;
background-color: #ffe13e;
border:0px;
border-right:1px;
border-right-color: #fff;
width: 109px;
height: 54px;
margin:0;
outline: none
}
option {
text-align:center
}
#dom1{
color: #fff;
height: 54px;
width: 155px;
border: 0;
background-color: #ffe13e;
margin:0;
outline: none
}

button:active, 
button:focus 
{ border: 0 !important; 
outline: none}

#service{
}
#service1{
Text-align:center;
background-color: #202242;
width:50%;
height: 750px;
min-height: 50%;
float:left

}

#service2{
Text-align:center;
background-color: #ffe13e;
width:50%;
height:750px;
float: left;
min-height: 50%;

}
h3{
text-align:center;
color: #fff;
font-size: 35px;
font-family: Raleway;

}

#service p {
color: #fff;
font-size: 14px;
font-family: Raleway;
}

#service1 img{
float:center;
margin: 80px 0 0 0;
}


.more{
width:100px;
height: 50px;
color: #fff;
border-color: #fff;
border: 1px;
text-decoration: none 
}

h1{
text-align: center;
color: #202242;
font-size:133px;
font-family: Raleway;
font-size:bold;
margin: 100px 0 0 0;
}

#features{
text-align: center;
background-color: #fbf8f1;
width:100%;
height: 698px
}
#features h5 {
font-size:48px;
font-family: Raleway;
font-weight:bold;
}

.feat{
list-style-type: none;
}

.feat p{
font-size: 14px;
font-family: Raleway;
}

.feat h6{
font-size: 30px;
font-family: Raleway;
color: #f4d320;
}
.fea1 {
background: url('../images/1f.png');
float:left;
width:128px;
height:165px;
margin-right: 200px;

}
.fea2 {
background: url('../images/2f.png');
float:left;
width:128px;
height:165px;
margin-right: 200px;
}

.fea3 {
background: url('../images/3f.png');
float:left;
width:128px;
height:165px;
margin-right: 200px;

}
.fea4 {
background: url('../images/4f.png');
float:left;
width:128px;
height:165px;
}


