

body{
margin: 0;
}

.nav {
background-color: white;
width: 1170px;
height: 147px;
text-align: center;
position: inline; /* nie ma czegos takiego */
}
.nav img{
margin: 10px 10px;  /* jesli z kazdej jest 10 to wystaczy: margin:10px */
padding-left: 105px;
padding-top: 52px;
float:left;

}
.nav h4{
float:left;
padding-top: 25px;
font-size: 30px;
color: #2f314f;
font-family:'Rokkitt', serif;
}

.nav ul {
padding-left: 83px;
padding-top: 60px;
display:inline;  /* jesli nizej dales float: left to ten element bedzie blokowy, inline nie zadziala */
float:left; 
}
.nav li{
margin: 20px;
display: inline;

}
.nav a{
color: #202242;
text-decoration: none;
font-family:'Rokkitt', serif;
font-size: 17px;
font-weight: semibold;  /* jestes pewien ze istnieje taki wariant dla tej czcionki?? */
}

.nav a:hover{
color: yellow;
}

#kontakt p {
font-size: 13px;
font-family: 'Rokkitt', serif;
font-weight:semibold;
}

#kontakt a {
background-color: #ffe13e;
height: 41px;
width: 122px;  /* <a> jest domyslnie elementem inline, na takich nie dziala width ani height */
background-size: 41px 122px;
}



.nrtel {
    Height: (wysokosc linii)px 
    Line-height: (wysokosc linii)px  /* no kuuuurwa... Kopiuj z sensem */
    Padding-left: 20px
    Border-left: 1px solid #ccc
}


.full-width { width: 100% }
#banner { background: url('../images/balon.jpg') no-repeat 50% 50%; background-size: cover; height: 794px; }
.content { width: 1170px; margin: 0 auto; }



.wtop {
text-align: center;
}

#service1{

background-color: #202242;
width:50%;
 height: 450px;
min-height: 50%;
min-width: 585px;
float:left;

}

#service2{
background-color: #ffe13e;
width:50%;
height:450px;
float: left;
min-height: 50%;
 min-width: 585px;
}

.features{
text-align: center;
}
