

body{
margin: 0;
}

.nav {
background-color: white;
height: 147px;
margin-bottom: 20px;
position: relative;
float:center
}
.nav-logo {
background: url('../images/logo.png');
background-repeat: no-repeat;
color: transparent;
font: 0/0 a;
float: left;
height: 32px;
margin: 70px 0px 0 100px;
position: relative;
width: 26px;

}
.nav h4{
float:left;
font-size: 30px;
color: #2f314f;
font-family:'Rokkitt', serif;
margin: 73px 15px 0 10px;
position: relative;

}

.nav ul {
float:left;
margin: 80px 0px 0px 0px;
position: relative;
width: 500px;

}
.nav li{
margin: 18px;
display: inline

}
.nav a{
color: #202242;
text-decoration: none;
font-family:'Rokkitt', serif;
font-size: 17px
}

.nav a:hover{
color: yellow
}


#kontakt{
float: left;
margin: 40px 0 0 30px;
position: relative;
width: 259x;


}
.ko {
font-size: 13px;
font-family: 'Rokkitt', serif;
}

.ko1 {
padding-top:5px;
font-size: 26px;
font-family: 'Rokkitt', serif;
font-weight:semibold;
margin:0 ;
float:right
}


#live  {
background-color: #ffe13e;
font-family: 'Rokkitt', serif;
padding: 8px 20px;
float: left
}
#live:hover{
background-color: #202242
}


.nrtel {
    Height: (wysokosc linii)px
    Line-height: (wysokosc linii)px
    Padding-left: 20px
    Border-left: 1px solid #ccc
}


.full-width { width: 100% }
#banner { background: url('../images/balon.jpg') no-repeat 50% 50%;
 background-size: cover; 
height: 794px
 
 }
.content { 
width: 1170px; 
margin: 0 auto }



.wtop {
padding-top:250px;
text-align: center;

}

h2{
font-size:40px;
font-family: 'Rokkitt', serif;
color: #ffffff;
}
.wtop p{
color: white;
font-size:25px;
font-family: 'Rokkitt', serif
}

.wtop img{
float:center;
margin: 20px
}

.dom{
display: inline-block;
width:547px;
height:54px;
background-color: #fff;
border: 15px solid rgba(255, 255, 255, .5);
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
}
#dom{
padding-top:0px;
text-align:center;
width:275px;
height:54px;
border: 0
}

.dom select {
background-color: #ffe13e;
border:0px;
border-right:1px;
border-right-color: #fff;
width: 109px;
height: 54px;
margin:0
}
option {
text-align:center
}
#dom1{
color: #fff;
height: 54px;
width: 153px;
border: 0;
background-color: #ffe13e;
margin:0
}

#dom1:hover{
border:0;
background-color: #202242
}


#service1{

background-color: #202242;
width:50%;
height: 450px;
min-height: 50%;
min-width: 585px;
float:left

}

#service2{
background-color: #ffe13e;
width:50%;
height:450px;
float: left;
min-height: 50%;
 min-width: 585px
}

.features{
text-align: center
}